@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --cor-background-principal: #0d0d0d;
  --cor-background-secundaria: #1a1a1a;
  --cor-fundo-input: #262626;
  --fundo-cont: #333333;
  --cor-texto-principal: #808080;
  --cor-texto-cont: #d9d9d9;
  --cor-button-created: #f2f2f2;
  --cor-fundo-button: #1e6f9f;
  --cor-fundo-button-hover: #4ea8de;
  --cor-texto-concluidas: #8284fa;
  --alert-text-limite: #e25858;
}

body {
  font-size: 1em;
  font-family: "Inter";
  background-color: var(--cor-background-principal);
  color: var(--cor-button-created);
}

.baseContainerMain {
  background: linear-gradient(
    to bottom,
    var(--cor-background-principal) 15em,
    var(--cor-background-secundaria) 15em
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
}

.wrapperApresentationMain {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 100svh;
}

.containerApresentationContent {
  width: 100%;
  max-width: min(85%, 50em);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 4.8em;
  padding-top: 5.5em;
}

.imageApresentantionContent {
  width: 7, 875em;
  height: 3em;
}

.containerInputCreateTask {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.inputNameTask {
  padding: 1em;
  background-color: var(--cor-fundo-input);
  border: none;
  border-radius: 0.4em;
  display: flex;
  flex-grow: 20;
  outline: none;
  color: var(--cor-button-created);
}

.inputNameTask:focus::placeholder {
  color: var(--cor-button-created);
  border: 0.5px solid var(--cor-texto-concluidas);
}

.inputNameTask:focus {
  outline: 0.4px solid #8284fa;
  outline-offset: 1px;
  color: var(--cor-button-created);
}

.inputNameTask::placeholder {
  color: var(--cor-texto-principal);
}

.buttonNameTask {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
  gap: 1em;
  border: none;
  border-radius: 0.4em;
  padding: 0.7em;
  background-color: var(--cor-fundo-button);
  font-size: 1em;
  transition: background-color 0.6s ease-in-out;
}

.containerAddTasksMain {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.containerInformationsTasksContent {
  width: 100%;
  padding: 1em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--cor-fundo-input);
}

.containerTasksCreated {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.listForTasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0 4em 0;
  gap: 0.6em;
  list-style-type: none;
  width: 100%;
}

.boxNotCreatedTask {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.boxNotCreatedTask > img {
  height: 3.6em;
  width: 3.6em;
}

.boxNotCreatedTask > h4 {
  padding-top: 2em;
  color: var(--cor-texto-principal);
}

.boxNotCreatedTask > p {
  color: var(--cor-texto-principal);
}

.boxCreatedTasks p:nth-child(1) {
  color: var(--cor-fundo-button-hover);
}

.boxCreatedTasks {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.boxConcluidTasks p:nth-child(1) {
  color: var(--cor-texto-concluidas);
}

.boxCreatedTasks p:nth-child(2) {
  background-color: var(--fundo-cont);
  border-radius: 100%;
  padding: 0.2em 0.5em;
  font-size: 0.8em;
  font-weight: 600;
}

.boxConcluidTasks {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.boxConcluidTasks p:nth-child(1) {
  color: var(--cor-texto-concluidas);
}

.boxConcluidTasks p:nth-child(2) {
  background-color: var(--fundo-cont);
  border-radius: 1em;
  padding: 0.2em 0.5em;
  font-size: 0.8em;
  font-weight: 600;
}

.buttonNameTask:hover {
  background-color: var(--cor-fundo-button-hover);
  cursor: pointer;
}

.containerLiTask {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 2;
  width: 100%;
  background-color: var(--fundo-cont);
  padding: 1.5em;
  border-radius: 0.4em;
  gap: 1.5em;
}

.textNameTask {
  display: flex;
  flex-grow: 2;
  align-self: flex-start;
}

.alertLimiteTextNameTask {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 4em;
  padding: 1em;
  border-radius: 0.4em;
  background-color: var(--alert-text-limite);
  position: absolute;
  transform: translateY(-14em);
  right: 1.5%;
  top: 4%;
}

.displayFlexAlertLimite {
  transform: translateY(0);
  transition: transform 0.6s ease-in-out;
}

.alertLimiteTextNameTask p {
  font-weight: 500;
}

.alertLimiteTextNameTask .trashColor {
  transition: transform 0.4s ease-in-out;
}

.alertLimiteTextNameTask .trashColor:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.alertLimiteTextNameTask .trashColor:hover path {
  fill: var(--cor-button-created);
}

.alertLimiteTextNameTask .trashColor path {
  fill: var(--cor-texto-cont);
}

.divNotCheckedtask {
  display: flex;
  align-items: center;
  border-radius: 1em;
}

.inputNotCheckedtask {
  height: 1.4em;
  width: 1.4em;
  appearance: none;
  outline: none;
  border-radius: 1em;
  border: 2px solid var(--cor-fundo-button-hover);
  position: relative;
}

.inputNotCheckedtask:before {
  content: "";
  position: absolute;
  width: 0.3em;
  height: 0.5em;
  top: 0.2em;
  left: 0.4em;
  transform: rotate(45deg);
  border-bottom: 2px solid var(--cor-button-created);
  border-right: 2px solid var(--cor-button-created);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.inputNotCheckedtask:checked {
  background-color: var(--cor-texto-concluidas);
  border: 2px solid var(--cor-texto-concluidas);
}

.inputNotCheckedtask:checked::before {
  opacity: 1;
}

.imageTrash {
  height: 1.2em;
  cursor: pointer;
}
